<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>데이터 추가</title>
</head>

<body>
    <script>
        const user = {
            "company": { name: 'Romaguera-Crona', "catchPhrase": 'Multi-layered client-server neural-net', bs: 'harness real-time e-markets' },
            "email": "Sincere@april.biz",
            "id": 1,
            "name": "Leanne Graham",
            "phone": "1-770-736-8031 x56442",
            "username": "Bret",
            "website": "hildegard.org",
        }
        fetch(`https://jsonplaceholder.typicode.com/users`, {
            method: 'POST',
            body: JSON.stringify(user),
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            }
        })
            .then((response) => response.json())
            .then((data) => console.log((data)));
    </script>
</body>

</html>